.allYourData,
.weAreUsing {
  position: relative;
  letter-spacing: -0.02em;
  display: flex;
  align-items: center;
}
.allYourData {
  line-height: 150%;
  padding-left: var(--padding-xl);
  padding-right: var(--padding-xl);
}
.weAreUsing {
  align-self: stretch;
  font-size: var(--body-caption-regular-size);
  font-weight: 500;
  color: var(--secondary-300);
  text-align: center;
  justify-content: center;
  height: 40px;
  flex-shrink: 0;
}
.icSecuritySafetyIcon {
  position: relative;
  width: 32px;
  height: 32px;
  overflow: hidden;
  flex-shrink: 0;
}
.bankIndonesiaIcon {
  position: relative;
  width: 30px;
  height: 30px;
  object-fit: cover;
  mix-blend-mode: luminosity;
}
.bappebtiIcon,
.kominfoIcon,
.ojk1Icon {
  position: relative;
  width: 36px;
  height: 36px;
  mix-blend-mode: luminosity;
}
.kominfoIcon,
.ojk1Icon {
  width: 41px;
  height: 41px;
  overflow: hidden;
  flex-shrink: 0;
}
.ojk1Icon {
  width: 64px;
  height: 26px;
}
.allYourDataAreSafeParent,
.icSecuritySafetyParent {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.icSecuritySafetyParent {
  flex-direction: row;
  padding: 0 var(--padding-5xl);
  gap: var(--gap-2xs);
  opacity: 0.3;
}
.allYourDataAreSafeParent {
  align-self: stretch;
  height: 117px;
  flex-direction: column;
  gap: var(--gap-9xs);
  text-align: left;
  font-size: var(--bold-type16-size);
  color: var(--secondary-500);
  font-family: var(--body-caption-regular);
}
