.logo {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 120%;
  font-weight: 700;
  font-family: inherit;
}
.b,
.nov2023,
.sel {
  position: relative;
  letter-spacing: -0.02em;
  line-height: 150%;
}
.nov2023 {
  z-index: 1;
}
.nov2023Wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
}
.hariIni,
.selParent {
  font-size: var(--font-size-3xs);
}
.selParent {
  flex: 1;
  height: 29px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 149px;
}
.hariIni {
  position: relative;
  letter-spacing: -0.02em;
  line-height: 150%;
  font-family: var(--font-inter);
  color: var(--color-royalblue-100);
  text-align: left;
}
.hariIniWrapper,
.parent {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.hariIniWrapper {
  cursor: pointer;
  border: 0;
  padding: var(--padding-8xs) var(--padding-5xs) var(--padding-8xs)
    var(--padding-3xs);
  background-color: var(--color-aliceblue-200);
  border-radius: var(--br-9xs);
  justify-content: center;
}
.parent {
  align-self: stretch;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: var(--gap-10xs);
}
.b1,
.s {
  position: relative;
  letter-spacing: -0.02em;
  line-height: 150%;
}
.s {
  font-weight: 500;
}
.b1 {
  color: var(--color-black);
  z-index: 1;
}
.sParent {
  width: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.b2,
.m {
  position: relative;
  letter-spacing: -0.02em;
  line-height: 150%;
}
.m {
  font-weight: 500;
}
.b2 {
  color: var(--color-black);
  z-index: 1;
}
.mParent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.b3,
.s1 {
  position: relative;
  letter-spacing: -0.02em;
  line-height: 150%;
}
.s1 {
  font-weight: 500;
}
.b3 {
  color: var(--color-black);
  z-index: 1;
}
.sGroup {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.frameContainer {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  min-width: 26px;
}
.s2 {
  font-weight: 500;
}
.b4,
.s2 {
  position: relative;
  letter-spacing: -0.02em;
  line-height: 150%;
}
.sContainer {
  border-radius: var(--br-9xs);
  background-color: var(--color-royalblue-200);
  width: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-11xs) var(--padding-11xs) var(--padding-7xs);
  box-sizing: border-box;
  font-size: var(--body-caption-regular-size);
  color: var(--ios-neutral-background-1-rest);
}
.b5,
.r {
  position: relative;
  letter-spacing: -0.02em;
  line-height: 150%;
}
.r {
  font-weight: 500;
}
.b5 {
  color: var(--color-black);
  z-index: 1;
}
.rParent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.b6,
.k {
  position: relative;
  letter-spacing: -0.02em;
  line-height: 150%;
}
.k {
  font-weight: 500;
}
.b6 {
  color: var(--ios-neutral-background-1-rest);
}
.kParent {
  border-radius: var(--br-9xs);
  background-color: var(--color-crimson);
  width: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-8xs) var(--padding-8xs) var(--padding-4xs);
  box-sizing: border-box;
  color: var(--color-gray-100);
}
.b7,
.j {
  position: relative;
  letter-spacing: -0.02em;
  line-height: 150%;
}
.j {
  font-weight: 500;
}
.b7 {
  color: var(--color-black);
  z-index: 1;
}
.frameGroup,
.jParent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameGroup {
  align-self: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0 var(--padding-smi) 0 var(--padding-xs);
  gap: var(--gap-9xl);
  font-size: var(--font-size-3xs);
  color: var(--color-lightgray-100);
}
.b8,
.b9 {
  position: relative;
  letter-spacing: -0.02em;
  line-height: 150%;
}
.b9 {
  color: var(--color-lightgray-200);
}
.group {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.b10,
.b11 {
  position: relative;
  letter-spacing: -0.02em;
  line-height: 150%;
}
.b11 {
  color: var(--color-lightgray-200);
}
.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-6xs);
}
.b12,
.b13 {
  position: relative;
  line-height: 150%;
}
.b13 {
  color: var(--color-lightgray-200);
}
.frameParent3,
.parent1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.parent1 {
  align-items: flex-end;
  gap: var(--gap-8xs);
  color: var(--color-darkslategray);
}
.frameParent3 {
  height: 229px;
  align-items: flex-start;
  gap: var(--gap-43xl);
}
.frameChild {
  position: relative;
  width: 8px;
  height: 280px;
}
.frameParent2,
.frameWrapper1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameParent2 {
  flex-direction: row;
  gap: var(--gap-9xs);
}
.frameWrapper1 {
  align-self: stretch;
  border-radius: var(--br-9xs);
  background-color: var(--color-dodgerblue-200);
  height: 101px;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: column;
  padding: var(--padding-4xs) var(--padding-58xl) var(--padding-4xs)
    var(--padding-19xl);
  box-sizing: border-box;
}
.cuciMobil {
  position: relative;
  font-size: var(--font-size-3xs);
  letter-spacing: -0.02em;
  line-height: 150%;
  display: none;
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
}
.cuciMobilWrapper {
  height: 12px;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.undercarriageIcon {
  position: relative;
  width: 12px;
  height: 12px;
  object-fit: cover;
  display: none;
}
.undercarriageWrapper {
  width: 12px;
  height: 12px;
  display: none;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.carIcon {
  position: relative;
  width: 14px;
  height: 14px;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  min-height: 14px;
}
.machineryPolishing {
  flex: 1;
  position: relative;
  font-size: var(--font-size-5xs);
  letter-spacing: -0.02em;
  line-height: 150%;
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
}
.carParent {
  width: 93px;
  height: 14px;
  display: none;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0 var(--padding-xl) 0 0;
  box-sizing: border-box;
  gap: var(--gap-7xs);
}
.clipboardIcon {
  position: relative;
  width: 12px;
  height: 12px;
  object-fit: cover;
  display: none;
  min-height: 12px;
}
.min {
  align-self: stretch;
  flex: 1;
  position: relative;
  font-size: var(--font-size-5xs);
  letter-spacing: -0.02em;
  line-height: 150%;
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
  display: flex;
  align-items: center;
}
.clipboardParent {
  width: 49px;
  height: 12px;
  display: none;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-xl) 0 0;
  box-sizing: border-box;
  gap: var(--gap-5xs);
}
.ambilAntrian {
  position: relative;
  font-size: var(--font-size-5xl);
  letter-spacing: -0.02em;
  line-height: 150%;
  font-weight: 900;
  font-family: var(--font-inter);
  color: var(--ios-neutral-background-1-rest);
  text-align: left;
  z-index: 1;
}
.frameButton {
  cursor: pointer;
  border: 0;
  padding: var(--padding-8xl) var(--padding-3xl);
  background-color: var(--color-whitesmoke-200);
  border-radius: var(--br-9xs);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.shadow {
  border: 0;
  outline: 0;
  background-color: transparent;
  position: absolute;
  margin: 0 !important;
  bottom: -8px;
  left: -101px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0), #fff);
  width: 374px;
  height: 50px;
  z-index: 1;
}
.frameParent5 {
  align-self: stretch;
  border-radius: var(--br-9xs);
  background-color: var(--color-whitesmoke-200);
  height: 90px;
  flex-direction: column;
  padding: var(--padding-4xs) var(--padding-57xl) var(--padding-4xs)
    var(--padding-20xl);
  box-sizing: border-box;
  position: relative;
}
.frameParent1,
.frameParent4,
.frameParent5 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameParent4 {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-5xs);
  min-width: 152px;
  font-size: var(--font-size-3xs);
  color: var(--ios-neutral-background-1-rest);
}
.frameParent1 {
  align-self: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--gap-base);
}
.tampilkanLebihBanyak {
  position: relative;
  font-weight: 600;
}
.tampilkanLebihBanyakWrapper {
  flex-direction: row;
  align-items: flex-start;
  padding: 0 var(--padding-9xs) 0 0;
  text-align: right;
  font-size: var(--body-caption-regular-size);
  color: var(--primary-500);
  font-family: var(--body-caption-regular);
}
.frameDiv,
.frameParent,
.frameWrapper,
.tampilkanLebihBanyakWrapper {
  display: flex;
  justify-content: flex-start;
}
.frameDiv {
  flex: 1;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-xl);
}
.frameParent,
.frameWrapper {
  align-self: stretch;
}
.frameWrapper {
  flex-direction: row;
  align-items: flex-start;
  padding: 0 var(--padding-mini) 0 var(--padding-xl);
  font-size: var(--font-size-5xs);
}
.frameParent {
  flex-direction: column;
  align-items: center;
  gap: var(--gap-mini);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.cekNoHpInner,
.logoParent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.logoParent {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-10xl);
}
.cekNoHpInner {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-6xl) 0 var(--padding-11xl);
  box-sizing: border-box;
  min-height: 640px;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--primary-500);
  font-family: var(--body-caption-regular);
}
